/**
 * Styles for both the block editor and the published view
 * This is included by editor.scss and style.scss
 */
$blue: rgb(0, 128, 0);
$green: rgba(128, 128, 0, 0.25);
$red: rgb(128, 0, 0);
$black: rgb(0, 0, 0);
$gray: #e5e5e5;
